<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function loginCheck(){
	        const form = document.getElementById('loginForm');
            // 입력폼 검증
            var id = document.getElementById("id").value;
            var pwd = document.getElementById("pwd").value;

         form.action = "/login";
         form.submit();
        }

    </script>
</head>
<body>
<th:block layout:fragment="content">
    <h1>로그그그그그그그그그그</h1>

    <form   method="post" id="loginForm" name="loginForm">
        아이디 : <input type="text" id="id" name="id">
        비밀번호 : <input type="password" id="pwd" name="pwd">
        <button type="submit" onclick="loginCheck();">로그인</button>
    </form>

</th:block>

</body>
</html>